<%-include("partials/header")%>

<style>   
    nav.transparent {
        position: fixed !important;
        top: 0;
        background-color: #000 !important;
    }

    .ctn{
        background-color: #f7f7f7;
        padding: 40px 15vw 10px 15vw;
        margin-top: 60px;
        margin-bottom: 0;
    }
    .row {
        border-color: #000;
        border-style: solid;
        border-width: 1px 0 0 0;
        padding: 2vw 0;
    }
    .ctn p{
        font-weight: 500;
        font-family: 'DM Sans', sans-serif;
    }

    @media only screen and (max-width: 993px){
        .img {
            width: 100px !important;
            padding: 10px !important;
            margin-top: 10px;
        }
    }
</style>

<div class="main">
    <div class="ctn">
        <h3 style="margin: 60px 0; font-family: 'Crete Round', sans-serif; text-align: center;">Achievements</h3>
        <% achievs.map(a => { %>
            <div class="row hide-on-med-only">
                <p><img src="<%= a.img %>" class="col l4 s6 img" style="padding: 5px 7vw; color: #000;"></p>
                <p class="col l3 s6" style="font-size: 20px; color: #555 !important;"><b><%= a.name %></b></p>
                <p class="col l5 s12" style="color: #777 !important;"><%= a.desc %></p>
            </div>
            <div class="row show-on-medium" style="display: none;">
                <p><img src="<%= a.img %>" class="col l4 m4" style="padding: 10px 7vw; color: #000;"></p>
                <p class="col l8 m8">
                    <b style="color: #555;"><%= a.name %></b><br><br>
                    <span style="color: #777 !important;"><%= a.desc %>
                    </span>
                </p>
            </div>
        <% }) %>
    </div>
</div>

<script>
    document.title = "Achievements • UAS-DTU";
</script>

<%-include("partials/footer")%>
